:root {
    --progress-bar-width: 22px;
    --progress-bar-height: 22px;
    --font-size: 2rem;
    --background-green: #183D3D;
}

body {
    background-color: #183D3D;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #040D12;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.respo<div class="circular-progress" data-progress-color="crimson">
    <div class="inner-circle"></div>
</div>nsive {position: fixed;}
    .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}



/* Introduction */
.intro {
    position: relative;
    height: 100vh;
}

.cpu {
    position: absolute;
    top: 250px;
    left: 250px;
    width: 250px;
    height: 250px;
}

.cpu-line-1-contleft{
    transform: rotate(180deg);
    position: absolute;
    top: 318px;
    left: 223px;
    width: 75px;
}

.cpu-line-1, .cpu-line-2, .cpu-line-3,
.cpu-line-4, .cpu-line-5 {
    height: 7px;
    background-color: black;
}

.cpu-line-5 {
    margin-top: 19px;
}
.cpu-line-4 {
    margin-top: 19.5px;
}
.cpu-line-3 {
    margin-top: 21px;
}
.cpu-line-2 {
    margin-top: 19px;
}



.circle1 {
    position: absolute;
    top: 363px;
    left: 242px;
}

.circle2 {
    position: absolute;
    top: 311px;
    left: 228px;
}

.circular-progress {
    width: var(--progress-bar-width);
    height: var(--progress-bar-height);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-circle {
    position: absolute;
    width: calc(var(--progress-bar-width) - 10px);
    height: calc(var(--progress-bar-height) - 10px);
    border-radius: 50%;
    background-color: var(--background-green);
}




@keyframes appear {
    from { opacity: 0% }
    to { opacity: 100% }
}








/* About */
.about {
    background-color: #5C8374;
    height: 50vh;
}